<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

  </article>
      <div class="row">
    <h2>Please tell us your thoughts </h2>
      <%= form_for([@product, @product.review.build]) do |item| %>
         <p>
            <%= item.label :Review %><br>
            <%= item.text_area :description %>
         </p>
         <p>
            <%= item.label :rating %><br>
            <%= item.text_area :rating %>
        </p>
         <p>
            <%= item.submit %>
         </p>
      <% end %>
    </div>
          <% if @product.review.count > 0 %>
    <div class="row">
      <h2>Product Reviews</h2>
          <% @product.review.each do |reviews| %>
          Review: <%= reviews.description %><br>
          ____________________________<br>
          Rating: <%= reviews.rating %><br>
          
          <% end %>
    </div>
     <% end %>
</section>
